.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home .box-main {
  display: grid;
  grid-template-columns: 70% 30%;
  max-width: 935px;
  width: 100%;
  padding-top: 30px;
}

.Home .main {
  display: flex;
  flex-direction: column;
  margin-right: 28px;
}
