.Story {
  display: flex;
  justify-content: space-between;
  padding: 1px 16px 1px 5px;
  height: 52px;
}

.Story .item-story-infor {
  display: flex;
}

.Story .avatar-user {
  width: 34px;
  height: 34px;

  background-size: cover;
  border-radius: 50%;
}

.Story .infor {
  margin-left: 14px;
}

.Story .infor .name-user {
  font-weight: 600;
  margin-bottom: 2px;
}

.Story .infor .time {
  color: #8e8e8e;
  font-size: 10px;
}
