.ForgotPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ForgotPassword .Item {
  width: 400px;
  display: inline-flex;
  flex-direction: column;
  border: 1px #dbdbdb solid;
  align-items: center;
  background-color: #ffffff;
}

.ForgotPassword .Main {
  margin-top: 30px;
  padding: 30px 0px;
}

.ForgotPassword .Main h2 {
  font-size: 17px;
  margin: 15px;
}

.ForgotPassword .Main .lock-icon {
  width: 100px;
}

.ForgotPassword .Main .Content {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ForgotPassword .Main .Content span {
  color: #8e8e8e;
}

.ForgotPassword .or {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8e8e8e;
  font-weight: 600;
  margin: 10px 0px;
}

.ForgotPassword .or span {
  font-size: 14px;
}

.ForgotPassword .or .ngang {
  display: inline-block;
  width: 40%;
  height: 1px;
  background-color: #dbdbdb;
}

.ForgotPassword .form {
  width: 100%;
  margin-top: 20px;
}

.ForgotPassword .form .formItem {
  width: 100%;
  border: none;
  padding: 10px;
  box-shadow: inset 0px 0px 0px 1px #dbdbdb;
  background-color: #fafafa;
  margin: 3px 0px;
  border-radius: 5px;
}

.ForgotPassword .form button {
  background-color: #2196F3 !important;
  color: #ffffff !important;
  font-weight: 600;
  font-size: 14px;
  margin: 10px 0px !important;
}

.ForgotPassword .form .formItem:focus {
  outline: none;
}

.ForgotPassword .Change-Signup {
  color: #262626;
  font-weight: 600;
  padding: 0px;
  text-decoration: none;
  margin: 10px 0px;
}

.ForgotPassword .Change-Signin {
  font-size: 14px;
  flex-direction: row;
  justify-content: center;
  border-top: none;
  padding: 20px 0px;
  background-color: #fafafa;
}


.ForgotPassword .Change-Signin:focus {
  outline: none;
}

.ForgotPassword .Change-Signin a {
  width: 100%;
  color: #262626;
  font-weight: 600;
  text-decoration: none;
}