.Header {
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;  
  z-index: 1;
}

.Box-Header {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
  max-width: 935px;
  width: 100%;
}

.Header .logo {
  display: flex;
  align-items: center;
}

.Header .logo img {
  width: 100px;
}

.Header .search {
  border: solid 1px #dbdbdb;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fafafa;
}

.Header .search .icon-search {
  width: 20px;
  height: 20px;
}

.Header .search .icon-search img {
  width: 100%;
}

.Header .search input {
  padding: 0px 5px;
  border: none;
  background-color: #fafafa;
}

.Header .search input:focus {
  outline: none;
}

.Header .menu {
  display: flex;
  align-items: center;
}

.Header .menu .item-menu {
  margin-left: 15px;
  width: 24px;
  height: 24px;
}

.Header .menu .avatar {
  width: 24px;
  height: 24px;
  background-size: cover;
  border-radius: 50%;
}

.Header .menu .item-avatar:hover ul {
  display: block;
}

.Header ul {
  position: absolute;
  right: 0px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 1px #dbdbdb;
  display: none;
}

.Header ul li {
  list-style-type: none;
  padding: 10px 120px 10px 0px;
  display: flex;
  align-items: center;
}

.Header ul li img {
  width: 16px;
  margin: 0px 10px;
}

.Header ul li:last-child {
  border-top: 1px #dbdbdb solid;
  padding-left: 10px;
}
